*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-image: url("forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather-app{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.weather-app__title{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.weather-app__input{
  width: 100%;
  padding: .5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-inline-start: 1rem;
  color: rgba(25, 23, 23, 0.797);
  font-size: 1rem;
  transition: box-shadow 0.2s ease-in-out;
}

.weather-app__input:focus{
  box-shadow: 0 3px 20px 1px #f06595;
}

.main{
  display: grid;
  gap: 1rem;
}

.weather-app__temp{
  font-size: 1.7rem;
}

.weather-app__event{
  font-size: 1.4rem;
}

