*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-image: url("forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather-app {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.weather-app__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.weather-app__input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  padding-inline-start: 1rem;
  color: rgba(25, 23, 23, 0.797);
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  background: transparent;
  color: #fff;
  border-bottom: 2px solid #f06595;
}

.weather-app__input:hover,
.weather-app__input:focus {
  box-shadow: 0 3px 20px 1px #f06595;
  border-radius: 0.7rem;
}

.weather-app__input::placeholder {
  opacity: 1;
  text-align: center;
  font-size: 1.1rem;
}

.main {
  display: grid;
  gap: 1rem;
}

.weather-app__temp {
  font-size: 3rem;
  font-weight: bold;
}

.weather-app__event {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-app__minmax{
  font-size: 1.2rem;
  font-weight: 500;
}
